<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Diğer resimler</p>
            <div class="list-group">
                <li class="list-group-item">1. Resim</li>
                <li class="list-group-item">2. Resim</li>
                <li class="list-group-item">3. Resim</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-responsive" src="<%= bitki.resim %>" alt="">
                <div class="caption-full">
                    <h4><a><%= bitki.isim %></a></h4>
                    <p><%= bitki.tanıtım %></p>
                    <p><%= bitki.yazar.username %> Tarafından Eklendi</p>
                    <% if(currentUser && bitki.yazar.id.equals(currentUser._id)){ %>
                    <a class="btn btn-outline-warning" href="/bitkiler/<%= bitki._id %>/edit">Güncelle</a>
                    <form id="del" action="/bitkiler/<%=bitki._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-outline-danger">Sil</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-outline-success" href="/bitkiler/<%= bitki._id %>/yorumlar/yeni">Yeni Yorum Ekle</a>
                    </div>
                    <hr>
                    <% bitki.yorums.forEach(function(yorum){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong><%= yorum.yazar.username %></strong>-<%= yorum.yazı %></p>
                                <% if(currentUser && yorum.yazar.id.equals(currentUser._id)){ %>
                                <a class="btn btn-outline-warning btn-sm" href="/bitkiler/<%= bitki._id %>/yorumlar/<%= yorum._id%>/edit">Güncelle</a>
                                <form class="delete-form" action="/bitkiler/<%=bitki._id%>/yorumlar/<%= yorum._id%>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-outline-danger" value="Sil">
                                </form>
                                <% } %>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>